:root {
  --fg: #060e07;
  --bg: #eee;

  --primary: #98df34;
  --secondary: #c6e6c6;
  --accent: #327127;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #f1f9f2;
    --bg: #121212;

    --primary: #84cb20;
    --secondary: #243824;
    --accent: #98d88d;
  }

  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  color: var(--fg);
  background-color: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}